*{
    padding: 0;
    margin: 0;
}

/* NAvBAr COde */

.navbar{
    height: 120px;
    width: 100%;
    background-color: black;
    position: absolute;
}

.icon h1{
    color: brown;
    font-size: 45px;
    margin-left: 100px;
    margin-top: 30px;
}

.vertical-menu {
    width: 200px;
    float: right;
    margin-top: -65px;
  }

.vertical-menu div{
        width: 35px;
        height: 5px;
        background-color: rgb(253, 181, 181);
        margin: 7px 0;
}
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(22, 21, 21);
    background-color: rgba(20, 20, 20, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #a5a3a3;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f7baba;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

/* Central Code */

.centre{
    background-color: rgb(34, 33, 33);
    width: 100%;
    height: 80%;
}

.centre h1{
    color: rgb(209, 212, 214);
    text-align: center;
}