tbody {
    margin-top: auto;
}

.a {
    text-align: center;
}

.prices {
    text-align: center;
}

.r {
    text-align: center;
}

.button {
    text-align: center;
}

.laptop {
    text-align: center;
}

.prices1 {
    text-align: center;
}

.button1 {
    text-align: center;
}

.tv {
    text-align: center;
}

.prices2 {
    text-align: center;
}

.button2 {
    text-align: center;
}

.watch {
    text-align: center;
    height: 80px;
}

.prices3 {
    text-align: center;
}

.button3 {
    text-align: center;
}

.teddy {
    text-align: center;
}

.prices4 {
    text-align: center;
}

.button4 {
    text-align: center;
    margin: 0;
}